<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 min-h-screen">
    <div class="fixed top-4 right-4">
      <!-- Botón para volver a la página de inicio -->
      <a th:href="@{/iniciosesion/}">
        <button
          class="z-50 bg-white text-white px-4 py-2 rounded shadow hover:bg-gray-200"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="40px"
            viewBox="0 -960 960 960"
            width="40px"
            fill="#000000"
          >
            <path
              d="m332.67-427.67 222 222L480-132 132-480l348-348.67 74.67 74.34-222 222h496v104.66h-496Z"
            />
          </svg>
        </button>
        <!--hover se subraya al hacer focus con el mouse-->
      </a>
      <!-- Botón para activar la lectura -->
      <button
        onclick="leerPagina()"
        data-lector-texto="Registrar. Correo electrónico: campo para ingresar su correo. Contraseña: campo para ingresar su contraseña. Confirmar contraseña: campo para confirmar su contraseña. Teléfono: campo para ingresar su número de teléfono. Siguiente: botón para continuar al siguiente paso."
        class="z-50 bg-white text-white px-4 py-2 rounded shadow hover:bg-gray-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="40px"
          viewBox="0 -960 960 960"
          width="40px"
          fill="#000000"
        >
          <path
            d="M582-116.67v-83.13q93.67-28.53 153.5-105.7T795.33-481q0-98.33-59.5-175.83-59.5-77.5-153.83-105.37v-83.13q128.82 28.83 210.58 130.75Q874.33-612.67 874.33-481q0 131.67-81.75 233.58Q710.82-145.5 582-116.67ZM85.67-332v-296.67h176.66l239.67-239v775.34L262.33-332H85.67Zm483 27.33v-352q55.66 21.67 90.66 69.06 35 47.38 35 107.66 0 59.28-35.33 106.95t-90.33 68.33Zm-172-305L307-523.33H191v86.66h116l89.67 87v-260Zm-86 129.67Z"
          />
        </svg>
      </button>
    </div>
    <div class="flex flex-col md:flex-row h-screen">
      <!-- Sección Izquierda -->
      <div
        class="w-full md:w-1/2 flex flex-col justify-center items-center bg-white"
      >
        <img src="/images/logo.png" alt="Eunoia Health Logo" class="w-100" />
      </div>
      <!-- Sección Derecha -->
      <div
        class="w-full md:w-1/2 flex flex-col justify-center items-center"
        style="background-color: #48a499"
      >
        <div class="w-full">
          <form th:action="@{/registrarse/datos}" method="post" class="p-16 space-y-6">
            <div class="pb-7">
              <h3 class="text-6xl font-bold text-center text-white mb-6">
                REGISTRAR
              </h3>
            </div>
            <div class="pb-7">
              <label class="text-3xl block text-white font-semibold mb-2"
                >Correo electrónico</label
              >
              <input
                name="correo"
                type="text"
                class="form-control text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white focus:outline-none cursor-white"
              />
            </div>
            <div class="pb-7">
              <label class="text-3xl block text-white font-semibold mb-2"
                >Contraseña</label
              >
              <input
                name="contra"
                type="password"
                class="form-control text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white focus:outline-none cursor-white"
              />
            </div>
            <div class="pb-7">
              <label class="text-3xl block text-white font-semibold mb-2"
                >Confirmar contraseña</label
              >
              <input
                name="confirmacontra"
                type="password"
                class="form-control text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white focus:outline-none cursor-white"
              />
            </div>
            <div class="pb-7">
              <label class="text-3xl block text-white font-semibold mb-2"
                >Teléfono</label
              >
              <input
                name="tele"
                type="text"
                class="form-control text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white focus:outline-none cursor-white"
              />
            </div>
            <div class="w-full justify-center items-center flex mt-6">
              <button
                type="submit"
                class="text-2xl px-10 bg-white font-bold py-2 rounded-lg hover:bg-teal-700 transition"
                style="color: #1e4944"
              >
                SIGUIENTE
              </button>
            </div>
          </form>
        </div>
        <!-- Modal alerta -->
        <div th:if="${res}" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
          <div class="relative bg-white w-[600px] h-[200px] p-6 rounded-lg shadow-lg flex flex-col justify-between">
            <a th:href="@{/registrarse/}" class="absolute top-3 right-3 text-black-500 hover:text-red-600 text-2xl font-bold group">
              <svg xmlns="http://www.w3.org/2000/svg" height="40px" class="transition-colors duration-200 group-hover:fill-red-600" viewBox="0 -960 960 960" width="40px" fill="#48A499"><path d="m249-183-66-66 231-231-231-231 66-66 231 231 231-231 66 66-231 231 231 231-66 66-231-231-231 231Z"/></svg>
            </a>
            <h2 th:text="${res == 'Puede continuar ingresando sus datos personales.' ? 'Registro en progreso...' : '⚠ ¡Advertencia!'}" class="text-4xl font-bold" style="color: #48a499;"></h2>
            <p class="text-2xl" style="color: #1e4944;" th:text="${res}"></p>
            <div class="text-center mt-4 flex justify-end">
              <a th:href="${res == 'Puede continuar ingresando sus datos personales.'} ? @{/registrarse/datospersonales/} : @{/registrarse/}" class="text-xl font-semibold bg-teal-600/80 text-white px-6 py-2 rounded hover:bg-teal-800 transition">
                ACEPTAR
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
