<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">
    <div class="fixed top-4 right-4">
        <!-- Botón para activar la lectura -->
        <button onclick="leerPagina()" class="z-50 bg-teal-700 text-white px-4 py-2 rounded shadow hover:bg-teal-800">
            Escuchar página
        </button>
        <a th:href = "@{/iniciosesion}">
            <button class="z-50 bg-teal-700 text-white px-4 py-2 rounded shadow hover:bg-teal-800">
                Volver al inicio de sesión
            </button> 
            <!--hover se subraya al hacer focus con el mouse-->
        </a>
    </div>
    <div class="flex flex-col md:flex-row h-screen">
        <!-- Sección Izquierda -->
        <div class="w-full md:w-1/2 flex flex-col justify-center items-center bg-white">
            <img src="/images/logo.png" alt="Eunoia Health Logo" class="w-100">
        </div>
        <!-- Sección Derecha -->
        <div class="w-full md:w-1/2 flex flex-col justify-center items-center" style="background-color:#48A499 ;">
            <div class="w-full">
                <!-- Formulario de Inicio de Sesión -->
                <form th:action = "@{/iniciosesion/registrar/validar}" class="p-16 space-y-6">
                    <div class="pb-7">
                        <h3 class="text-6xl font-bold text-center text-white mb-6">REGISTRAR</h3>
                    </div>
                    <div class="pb-7">
                        <label class="text-3xl block text-white font-semibold mb-2">Correo electrónico</label>
                        <input name="correo" alt="correo electrónico" type="text" class="text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white  focus:outline-none cursor-white">
                    </div>
                    <div class="pb-7">
                        <label class="text-3xl block text-white font-semibold mb-2">Contraseña</label>
                        <input name="contra" type="password" class="text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white  focus:outline-none cursor-white">
                    </div>
                    <div class="pb-7">
                        <label class="text-3xl block text-white font-semibold mb-2">Confirmar contraseña</label>
                        <input name="confirmacontra" type="password" class="text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white  focus:outline-none cursor-white">
                    </div>
                    <div class="pb-7">
                        <label class="text-3xl block text-white font-semibold mb-2">Teléfono</label>
                        <input name="tele" alt="correo electrónico" type="text" class="text-white text-3xl caret-white bg-transparent w-full px-4 py-2 border-b border-white  focus:outline-none cursor-white">
                    </div>
                    <div class="w-full justify-center items-center flex mt-6">
                            <button class="text-2xl px-10 bg-white font-bold py-2 rounded-lg hover:bg-teal-700 transition" style="color:#1E4944 ;">
                                SIGUIENTE
                            </button>
                    </div>
                </form>
                <div><span th:text ="${mensaje}"></span></div>    
            </div>
        </div>
    </div>
    <script>
        function leerPagina() {
            const texto = `
                Registrar.
                Correo electrónico: campo para ingresar su correo.
                Contraseña: campo para ingresar su contraseña.
                Confirmar contraseña: campo para confirmar su contraseña.
                Teléfono: campo para ingresar su número de teléfono.
                Siguente: Botón para avanzar.
            `;
            const utterance = new window.SpeechSynthesisUtterance(texto);
            utterance.lang = "es-ES";
            window.speechSynthesis.speak(utterance);
        }
    </script>
</body>
</html>